/*

  Conical

  Jú Gonçalves <github@jugoncalv.es>

  Based on http://codepen.io/shankarcabus/pen/jcyDA
  Thanks Shankar Cabus for bringing Conical Gradients to css <3

*/

// private, do not use it
circle(size)
  position absolute
  border-radius 50%
  left calc(50% - 25em)
  top calc(50% - 25em)
  width size
  height size

conical(wheel, colors)
  circle(wheel)
  clip rect(0, wheel, wheel, wheel/2)

  &:after, &:nth-child(n+7), &:nth-child(n+7):after
    content ''
    circle(wheel)

  &:nth-child(n+7):after
    content ''
    clip rect(0, wheel, wheel, wheel/2)

  &:after, &:nth-child(n+7)
    content ''
    clip rect(0, wheel/2, wheel, 0)

  for num in (1..13)
    &:nth-child({num}):after
      content ''
      background-color colors[num % length(colors)]
      if num < 7
        transform rotate(30 * num * 1deg)
        z-index 12 - num
      else
        transform rotate((-30) + 30 * num * 1deg)