doctype html
html(lang="en")
  head
    title hipstyl | a collection of hipster-ish mixins for stylus
    link(href='http://fonts.googleapis.com/css?family=Dosis:400,200', rel='stylesheet', type='text/css')
    link(href='public/css.css', rel='stylesheet', type='text/css')
  body
    header
      .circle
        h1 hipstyl
        h2 a collection of hipster-ish mixins for stylus