/*

  Be-Flat

  Diogo Moretti <diogo.pearljam@gmail.com>
  MIT

*/

beFlat(c)
  if dark(c)
    darken(saturate(lighten(desaturate(lighten(desaturate(c, 40%), 10%), 20%), 20%), 20%), 20%)
  else
    darken(saturate(lighten(desaturate(lighten(desaturate(c, 30%), 10%), 10%), 30%), 20%), 20%)